.app
{
  background-color: lightyellow;
  height: 100vh;
}

.app__body
{
  display: flex;
  background-color: lightgray;
  height: 90vh;
  width: 90vh;
  box-shadow: 2px 3px -4px 2px rgba(0,0,0,0.3);
}